/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selectors */
body {
    background-color: #d9dcd6;
 
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 20px
}

p {
    font-size: 16px;
}

article {
    width: 75%;
    float: left;
    margin-left: 20px;
}

aside {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    display:inline-block;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Class Selectors */
.seo {
    color: #d9dcd6;
    font-style: normal;
}

.hero{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size:cover;
    background-position:center;
    background-image:url(../images/digital-marketing-meeting.jpg);
}

.float-left {
    float: left;
    margin-right: 25px;
}

.benefit-sides {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;

}

.benefit-sides h3 {
    margin: 30px;
    text-align: center;

}

.benefit-sides img {
    display: center;
    margin: 5px auto;
    max-width: 150px;
}

.section-area {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.section-area img {
    max-height: 200px;
}

.section-area h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* ID Selectors */

#float-right {
    float: right;
    margin-left: 25px;
}
